{{#partial "contenido"}}
    <section>
        <h2>Mis contactos</h2>

        <table class="table" id="tabla">
            <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Email</th>
                    <th> Teléfono </th>
                    <th> Acciones</th>
                </tr>
            </thead>

            <tbody>
            {{#each contactos}}
                <tr>
                    <td> {{nombre}} </td>
                    <td> {{email}}</td>
                    <td> {{telefono}}</td>

                    <td>
                        <button type="button" class="btn btn-sm btn-outline-primary text-nowrap"
                                onclick = "confirmarEliminacion('{{id}}')">Eliminar</button>
                        <a class="btn btn-sm btn-outline-primary text-nowrap" href="contactos/{{id}}/editar">Editar</a>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <a class="btn btn-primary" href="contactos/crear">Nuevo Contacto</a>
    </section>
{{/partial}}
{{>layout.hbs}}