{{#partial "contenido"}}
    <section>
        <h2>Sectores Territoriales</h2>

        <form class="row g-3" action="{{url}}" method="post">
            <table class="table" id="tabla">
                <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Provincia</th>
                    <th>Municipio</th>
                    <th>Localidad</th>
                    <th> Acciones</th>
                </tr>
                </thead>

                <tbody>
                {{#each sectores_territoriales}}
                    <tr>
                        <td> {{descripcion}} </td>
                        <td> {{direccion.provincia}} </td>
                        <td> {{direccion.municipio}} </td>
                        <td> {{direccion.localidad}} </td>

                        <td>
                            <button type="submit" class="btn btn-sm btn-outline-primary text-nowrap" name="eliminar" value="{{id}}">Eliminar</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </form>

        <a class="btn btn-primary" href="/sectores-territoriales/crear">Nuevo Sector Territorial</a>
    </section>
{{/partial}}
{{>layout.hbs}}